.game4__container{
    width: 80%;
    margin: 0 auto;
}
.game4__slider__item{
    text-align: right;
}
.gametop4__title{
    position: relative;
    padding-right: 68px;
    margin-bottom: 24px;
    line-height: 1.4;
    font-size: 20px;
    color: var(--main-color);
    font-weight: 600;
}
.gametop4__title::before{
    content: "";
    top: 45px;
    position: absolute;
    width: 52px;
    right: 0;
    background: var(--main-color);
    height: 2px;
}
.gametop4__subtitle{
    font-family: 'Vazirmatn', sans-serif;
    font-size: 35px;
}
.gametop4__subtitle2{
    margin-top: 2rem;
    font-weight: 200;
    text-align: justify;
}