.CategoryRow{
    margin: 2rem;
}

.CategoryRow__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Vazirmatn', sans-serif;
}
.CategoryRow__top p{
    font-size: 20px;
}
.CategoryRow__top__btn{
    background-color: var(--main-color);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-family: 'Vazirmatn', sans-serif;
    cursor: pointer;
}
.CategoryRow__row{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width:1200px){
    .CategoryRow__top{
        flex-wrap: wrap;
    }
}