.dgtext1{
    margin: 0 auto;
    margin-top: 4rem;
    width: 85%;
    margin-bottom: 3rem;
}
.dgtext1__top{
    text-align: center;
    color: var(--main-color);
    font-family: 'Vazirmatn', sans-serif !important;
}
.dgtext1__content{
    display: flex;
    margin-top: 3rem;
}
.dgtext1__content__top{
    display: flex;
    align-items: center;
}
.dgtext1__content__top__image{
    margin-left: 15px;
}
.dgtext1__content__text{
    font-size: 13px;
    font-weight: 200;
    color:#4F4F4F ;
    line-height: 25px;
    margin-bottom: 1.5rem;
    text-align: justify;
}
.dgtext1__content__item{
    padding: 0 2rem;
}
.dgtext1__content__item__btn{
    border: 1px solid orange;
    background-color: #fff;
    outline: none;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.dgtext1__content__item__btn:hover{
    background-color: orange;
    color: #fff;
}
.dgtext1__content__top__title{
    font-family: 'Vazirmatn', sans-serif !important;
}
@media screen and (max-width:1050px){
    .dgtext1{
        width: 100%;
    }
}
@media screen and (max-width:900px){
    .dgtext1__content{
        flex-direction: column;
    }
    .dgtext1__content__item{
        margin-bottom: 4rem;
    }
    .dgtext1__content__text{
        margin-bottom: 0.5rem;
    }
}
@media screen and (max-width:670px){
    .dgtext1__top{
        padding: 0 2rem;
    }
}