.appbtn{
    border: none;
    outline: none;
    padding: 0.8rem 2rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 20px #701fff7a;
}

.appbtn:hover{
    transform: translateY(-10px);
    opacity: 0.9;
}